{% extends 'generate.html' %}
{% block title %} Password {% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid mx-5 my-5 rounded-lg">
        <div class="container">
            <h1 class="display-4 text-monospace">Generate</h1>
            <hr>
            <!--Form start-->
            <form action="/generate/password-result" method="POST" enctype = "multipart/form-data">
                <div class="form-group">
                    <label for="exampleFormControlFile1">📃 Password Length:</label>
                    <input type="number" id="password_length" name="password_length" min="1" max="100" required>
                    <br>
                    <textarea class="form-control" rows="2" name="message" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Generate</button>
            </form>
            <!--Form end-->
        </div>
    </div>
{% endblock %}
